* text=auto eol=lf

*.csproj    text eol=lf
*.slnx      text eol=lf
*.props     text eol=lf
*.cs        text eol=lf diff=csharp
*.mjs       text eol=lf
*.json      text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.md        text eol=lf
*.ts        text eol=lf
*.scss      text eol=lf
*.html      text eol=lf

*.png       binary
*.ico       binary
